body {
    background-color: LightCyan;
	padding: 30px 10px 20px 10px;
	max-width: 2100px;
    margin: 0 auto;
}

header, footer {
	background-color:PaleTurquoise;
    color: black;
}

label, fieldset{
    font-size: 1.1em;
}

input[type=text] {
    border: 2px solid #0d1f2d;
    width: 50%;
    padding: 8px 8px;
    margin: 12px 0;
    box-sizing: border-box;
    font-size: 1.1em;
}

input[type=submit] {
    font-size: 1.2em;
    background-color: #546a7b;
    color: #fef9ff;
    padding: 4px 8px;
}

input[type=submit]:hover {
    background-color: #f2eded;
    color: #546a7b;
}

.jumbotron{
	background-color:PaleTurquoise;
	font: 400 16px/1.2 'Crimson Text',  serif;
}

table {
	border-spacing: 5px;
}
th {
  text-align: left;
}
th, td {
  padding: 15px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
